<template>
  <div id="app" class="container">
    <div class="py-5 text-center">
      <h2>Vehicle status dashboard</h2>
     </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="mb-3">Filter</h4>
        <form class="needs-validation" novalidate>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="client">Client</label>

              <select class="custom-select d-block w-100" id="client" v-model="filter.client">
                <option value="00000000-0000-0000-0000-000000000000">All</option>
                <option v-for="client in clients" v-bind:value="client.id" v-bind:key="client.id">
                  {{ client.name }}
                </option>
              </select>
            </div>

            <div class="col-md-4 mb-3">
              <label for="status">Status</label>

              <select class="custom-select d-block w-100" id="status" v-model="filter.status">
                <option value="">All</option>
                <option value="0">Online</option>
                <option value="1">Offline</option>
              </select>
            </div>

            <div class="col-md-3 mb-3">&nbsp;
              <label for="status">&nbsp;</label>
              <button class="btn btn-primary btn-block" type="submit" v-on:click="filterResults(filter)">Filter</button>
            </div>
          </div>

          <hr class="mb-4">

          <div class="row">
            <table class="table table-bordered table-sm">

              <thead>
                <tr>
                  <th>Client</th>
                  <th>Vehicle</th>
                  <th>Last ping</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="item in results" v-bind:key="item.vin">
                  <td>{{ item.vehicle.client.name }}</td>
                  <td>{{ item.vehicle.vin }}</td>
                  <td>{{ formatDate(item.timestamp) }}</td>
                  <td>
                    <span class="badge badge-success" v-if="item.status === 0">Online</span>
                    <span class="badge badge-danger" v-if="item.status === 1">Offline</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2018 Alten Sweden</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      filter: { client: '00000000-0000-0000-0000-000000000000', status: '' },
      results: [],
      clients: [],
      vehicles: []
    }
  },

  mounted: function () {
    this.$nextTick(function () {
      window.setInterval(() => {
        this.updateResults(this.filter)
      }, 5000)
    })
  },

  created: function () {
    axios.get('api/v1/clients')
      .then(response => {
        this.clients = response.data
      })

    axios.get('api/v1/vehicles')
      .then(response => {
        this.vehicles = response.data
      })

    this.updateResults(this.filter)
  },
  methods: {
    updateResults: function (filter) {
      axios.get('api/v1/status/' + filter.client + '/' + filter.status)
        .then(response => {
          this.results = response.data
        })
    },

    filterResults: function (filter) {
      this.updateResults(filter)
    },

    formatDate: function (value) {
      let date = new Date(value)

      if (date.getFullYear() === 1) {
        return ''
      }

      return date.toLocaleString()
    }
  }
}
</script>
